name: Deploy Directo a EC2 (sin Docker)

on:
    push:
        branches:
            # Se dispara con cualquier push a la rama 'main'
            - main
        paths-ignore:
            - '.github/workflows/**'

jobs:
    # -----------------------------------------------
    # Job Único: Desplegar archivos en la instancia EC2
    # -----------------------------------------------
    deploy-to-ec2:
        name: Transferencia y Despliegue SSH
        runs-on: ubuntu-latest
        
        env:
            # Variables de la instancia EC2 y del proceso de despliegue
            EC2_HOST: ${{ secrets.EC2_HOST }} 
            EC2_USER: ${{ secrets.EC2_USER }} 
            # Define la ruta donde quieres guardar el código en tu servidor EC2
            REMOTE_APP_PATH: /home/${{ secrets.EC2_USER }}/web-app

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
              # Esta acción descarga tu código de GitHub en el runner de Actions

            - name: Set up SSH
              uses: webfactory/ssh-agent@v0.9.0 
              with:
                # Usa la clave privada para la conexión
                ssh-private-key: ${{ secrets.EC2_SSH_KEY }}
                
            - name: Transferir código (SCP) e Instalar Dependencias (SSH)
              # Usamos un 'run' para ejecutar comandos que usan SSH y SCP
              run: npm install
            - name: Ejecutar
              run: npm run dev
            
            